const serverConfig = {
    PORT: 3000,
    WATCH_PATH: './test',
    OPTIONS: {
        ignored: [
            /\.zip$/i,
            /\.git/,
        ],
        ignoreInitial: true,
        ignorePermissionErrors: true,
    },
};

const clientConfig = {
    PORT: 3000,
    HOST: '127.0.0.1',
    WATCH_PATH: './test2',
    OPTIONS: {
        ignored: [],
        ignoreInitial: true,
        ignorePermissionErrors: true,
    },
    MAX_FILE_CHANNEL_COUNT: 100,
};

module.exports = {
    serverConfig,
    clientConfig,
};
