const path = require('path');
const serverConfig = {
  PORT: 3000,
  WATCH_PATH: path.join(__dirname, './test/server'),
  LISTEN_PATH: path.join(__dirname, './test/server'),
  OPTIONS: {
    ignored: [],
    ignoreInitial: true,
  },
  WATCH_INTERVAL_TIME: 2,
};

const clientConfig = {
  PORT: 3000,
  HOST: '127.0.0.1',
  WATCH_PATH: path.join(__dirname, './test/client'),
  LISTEN_PATH: path.join(__dirname, './test/client'),
  OPTIONS: {
    ignored: [],
    ignoreInitial: true,
  },
  WATCH_INTERVAL_TIME: 2,
};

module.exports = {
  serverConfig,
  clientConfig,
};
